{% extends 'layouts/base_with_user.html' %}
{% load static %}

{% block content %}
<div class="col-12">
    <h1>Новый вопрос</h1>
</div>
<div class="row" align="center">
    <form>
        <div class="form-group col-12 row tittle-input" align="left">
            <div class="col-3">
                <h4>Заголовок</h4>
            </div>
            <div class="col-9">
                <input type="text" class="form-control"
                       placeholder="Введите заголовок вопроса" maxlength="100">
                <p class="error">
                    <small class="error-text">Заголовок не может быть пустым</small>
                </p>
            </div>
        </div>
        <div class="form-group col-12 row ask-question" align="left">
            <div class="col-3">
                <h4>Ваш вопрос</h4>
            </div>
            <div class="col-9">
                <textarea class="form-control" rows="7" placeholder="Введите ваш вопрос"></textarea>
                <p class="error">
                    <small class="error-text">Вопрос не может быть пустым</small>
                </p>
            </div>
        </div>
        <div class="form-group col-12 row ask-tags" align="left">
            <div class="col-3">
                <h4>Теги</h4>
            </div>
            <div class="col-9">
                <input type="text" class="form-control" maxlength="100"
                       placeholder="Введите теги вопроса через запятую">
                <p class="error">
                    <small class="error-text">Должен быть хотя бы 1 тег</small>
                </p>
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-info ask-button">Спросить</button>
    </form>

</div>

{% endblock %}