{% extends 'layouts/base_with_user.html' %}
{% load bootstrap5 %}

{% load static %}

{% block content %}
<div class="col-12">
    <h1>Новый вопрос</h1>
</div>
<div class="row" align="left">
    <form method="POST" class="form" action="{% url 'ask' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="row" align="center">
            {% buttons %}
            <button type="submit" class="btn btn-primary">Спросить</button>
            {% endbuttons %}
        </div>
    </form>

</div>

{% endblock %}