{% extends 'layouts/base_no_user.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
<div class="col-12">
    <h1>Авторизация</h1>
</div>
<div class="row" align="left">
    <form method="POST" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="row" align="center">
            {% buttons %}
            <button type="submit" class="btn btn-primary">Войти</button>
            {% endbuttons %}
            <a href="{% url 'signup' %}" class="link">
                Создать новый аккаунт
            </a>
        </div>
    </form>
</div>
{% endblock %}