{% extends base %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
{% include 'components/question-main.html' %}
<div class="row answers-tittle" id="last-answer">
    <h2>Ответы</h2>
</div>

{% for answer in answers %}
{% include 'components/answer-item.html' %}
{% endfor %}

{% include 'components/paginator.html'%}

<div id="answer-form">
    {% if request.user.is_authenticated %}
    <form class="form-inline col-12" method="post" action="{% url 'question' question.question_id %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">А вы как думаете?</button>
        {% endbuttons %}
    </form>

    {% else %}
    <div class="row answer-input" align="center">
        <p> Вы сможете ответить, только если зарегистрируетесь на сайте </p>
    </div>
    {% endif %}
</div>
{% endblock %}
