{% extends 'layouts/base_with_user.html'%}

{% load static %}

{% block content %}
{% include 'components/question-main.html' %}
<div class="row answers-tittle">
    <h2>Ответы</h2>
</div>

{% for answer in answers %}
    {% include 'components/answer-item.html' %}
{% endfor %}

{% include 'components/paginator.html'%}

<div class="row answer-input" align="center">
    <form class="form-inline col-12">
        <div class="textarea">
            <textarea class="form-control" rows="5" placeholder="А вы как думаете?"></textarea>
        </div>
        <button type="submit" class="btn btn-sm btn-info correct-btn">Ответить</button>
    </form>
</div>
{% endblock %}