{% extends 'layouts/base_no_user.html' %}
{% load static %}
{% load bootstrap5 %}
{% block content %}
<div class="col-12">
    <h1>Регистрация</h1>
</div>

<div class="row" align="center">
    <form method="POST" class="form" enctype="multipart/form-data">
        {% bootstrap_form form %}
        {% csrf_token %}
        <div class="row" align="center">
            {% buttons %}
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            {% endbuttons %}
            <a href="{% url 'signup' %}" class="link">
                Уже есть аккаунт
            </a>
        </div>
    </form>
</div>
{% endblock %}