{% load static %}

<div class="col-12 row question">
    <div class="question-title">
        <h1>{{ question.question_title }}</h1>
    </div>
    <div class="question-body">
        <p class="question-text">
            <img src="{{ question.author.profile.avatar.url }}" class="question-image" alt="Question img">
            {{ question.question_body }}
        </p>
        <div class="row question-bot">
            {% include 'components/tags.html' %}
            <div class="col-4"></div>
            {% include 'components/question_likes.html' %}
        </div>
    </div>
</div>