{% load static %}
<div class="col-4" align="left">
    <div class="row tags-div">
        <div class="tags-title">
            <h3>Популярные теги</h3>
        </div>
        <div class="tags">
            {% for tag in popular_tags %}
            <span class="badge bg-info">
                <a class="popular-tags" href="{% url 'tag' tag.tag_title %}">
                    {{ tag.tag_title }}
                </a>
            </span>
            {% endfor %}
        </div>
    </div>
    <div class="row members-div">
        <div class="members-title">
            <h3>Топ лучших пользователей</h3>
        </div>
        <div class="members">
            <ol class="list-group list-group-flush">
                {% for nick in best_users %}
                <li class="list-group-item">
                    <a href="">{{ nick }}</a>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>