{% load static %}
<div class="col-4" align="left">
    <div class="row tags-div">
        <div class="tags-title">
            <h2>Популярные теги</h2>
        </div>
        <div class="tags">
            {% for tag in popular_tags %}
            <span class="badge bg-info">
                <a class="popular-tags" href="{% url 'tag' tag.tag_title %}">
                    {{ tag.tag_title }}
                </a>
            </span>
            {% endfor %}
        </div>
    </div>
    <div class="row members-div">
        <div class="members-title">
            <h2>Топ-5 рейтинга</h2>
        </div>
        <div class="members">
            <ol class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="">Miposhka</a>
                </li>
                <li class="list-group-item">
                    <a href="">Yatoro</a>
                </li>
                <li class="list-group-item">
                    <a href="">Miraslav</a>
                </li>
                <li class="list-group-item">
                    <a href="">Maga Halipov</a>
                </li>
                <li class="list-group-item">
                    <a href="">Sanya Levin</a>
                </li>
            </ol>
        </div>
    </div>
</div>